*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
    text-align: center;
}
h1{
    font-size: 5rem;
    color: crimson;
}